<!-- <div>
    <h2>Data Component</h2>

    <div *ngFor="let room of rooms$ | async">
      <div>
        <img [src]="room.photo" alt="{{ room.name }}" />
        <h3>{{ room.name }}</h3>
        <p>{{ room.subtitle }}</p>
        <p>{{ room.description }}</p>
        <p>Price: {{ room.price | currency }}</p>
      </div>
    </div>

    <form (submit)="addRoom()">
      <label>Name: </label>
      <input [(ngModel)]="newRoomName" name="newRoomName" required />

      <button type="submit">Add Room</button>
    </form>
  </div> -->
  <!-- <h2>Available Rooms for {{ selectedOptions.people }} People:</h2> -->
<div class="rooms">
  <mat-card *ngFor="let room of rooms$ | async" class="example-card">
    <mat-card-header>
      <mat-card-title>{{ room.name }}</mat-card-title>
      <mat-card-subtitle>{{ room.subtitle }}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image [src]="room.photo" alt="Photo of a room">
    <mat-card-content class="card-content">
      <p>{{ room.description }}</p>
      <p>Accommodates: {{ room.accommodation }} People</p>
      <p>
        <span class="currency">Rs.</span>
        <span class="price">{{ room.price }}</span>
        <span class="period">/Day</span>
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button class="btn">Book Now</button>
    </mat-card-actions>
  </mat-card>
</div>
