:host {
    display: block;
  }
  
  .popup-content {
    text-align: center;
  }
  
  h2 {
    color: #3498db;
  }
  
  p {
    margin-bottom: 10px;
  }
  
  button {
    margin-top: 0;
    background-color: rgb(223, 75, 87);
    margin-bottom: 5%;
  }
  
  @media only screen and (max-width: 600px) {
    h2 {
        font-size: 1.5em;
    }
  
    p {
        font-size: 0.8em;
        margin-bottom: 10px;
    }
  
    button {
        font-size: 0.9em;
        margin-bottom: 3%;
    }
  }
  
  @media only screen and (min-width: 601px) and (max-width: 768px) {
    h2 {
        font-size: 1.8em;
    }
  
    p {
        font-size: 1em;
        margin-bottom: 15px;
    }
  
    button {
        font-size: 1em;
        margin-bottom: 4%;
    }
  }
  