/* Add the following styles to your component's style file */

.popup-content {
  font-family: 'Arial', sans-serif;
  max-width: 400px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  text-align: center;
}

.popup-header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
}

.clock-icon {
  width: 100%; /* Adjust the width of the clock icon */
  height: 15%px; /* Adjust the height of the clock icon */
  margin-right: 10px;
}

span{
  font-size: 25px;
  color: red;
}

h2 {
  color: #333;
}

.discount-message {
  font-size: 16px;
  color: #555;
  margin-bottom: 20px;
}

.close-button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease;
}

.close-button:hover {
  background-color: #0056b3;
}
